<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @publication.description %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @publication.tag %>
</p>

<%= image_tag(@publication.image) %>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
