
  <section class="publications-container">

    <h4>Nuestros estudios recientes</h4>

    <div class="publications">

      <div class="publication-card">
        <div class="publication-image">
          <%= image_tag("MexicoCompacto-Portada.jpg") %>
        </div>
        <div class="publication-info">
          <h5>México Compacto 1</h5>
          <h6>Desarrollo Urbano</h6>
        </div>
      </div>

      <div class="publication-card">
        <div class="publication-image">
          <%= image_tag("MexicoCompacto-Portada.jpg") %>
        </div>
        <div class="publication-info">
          <h5>México Compacto 2</h5>
          <h6>Desarrollo Urbano</h6>
        </div>
      </div>

      <div class="publication-card">
        <div class="publication-image">
          <%= image_tag("MexicoCompacto-Portada.jpg") %>
        </div>
        <div class="publication-info">
          <h5>México Compacto 3</h5>
          <h6>Desarrollo Urbano</h6>
        </div>
      </div>

      <div class="publication-card">
        <div class="publication-image">
          <%= image_tag("MexicoCompacto-Portada.jpg") %>
        </div>
        <div class="publication-info">
          <h5>México Compacto 4</h5>
          <h6>Desarrollo Urbano</h6>
        </div>
      </div>

      <div class="publication-card">
        <div class="publication-image">
          <%= image_tag("MexicoCompacto-Portada.jpg") %>
        </div>
        <div class="publication-info">
          <h5>México Compacto 5</h5>
          <h6>Desarrollo Urbano</h6>
        </div>
      </div>

      <div class="publication-card">
        <div class="publication-image">
          <%= image_tag("MexicoCompacto-Portada.jpg") %>
        </div>
        <div class="publication-info">
          <h5>México Compacto 6</h5>
          <h6>Desarrollo Urbano</h6>
        </div>
      </div>

      <div class="publication-card">
        <div class="publication-image">
          <%= image_tag("MexicoCompacto-Portada.jpg") %>
        </div>
        <div class="publication-info">
          <h5>México Compacto 7</h5>
          <h6>Desarrollo Urbano</h6>
        </div>
      </div>

    </div>

  </section>
