<!DOCTYPE html>
<html>
  <head>
    <title>Cms</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Montserrat:300,400', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="idea_header">
        <div class="subheader1">
            <%= link_to image_tag("Idea logo blanco web.png"), root_path, :class => "logo" %>
            <div class="subheader1a">
                <p>Fundación IDEA: El centro mexicano de investigación en políticas públicas </p>
            </div>
        </div>
        <div class="buscador">
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group input-group-md">
                <input type="text" class="form-control input-md" id="search-term" placeholder="Término a buscar">
                  <span class="input-group-btn">
                    <button class="btn btn-azul" type="submit">Buscar</button>
                  </span>
                </div>
              </div>
            </div>
        </div>
        <nav class="navbar-expand-lg barra-categorias">
          <ul >
            <li><a class="categorias" href="#">Emprendimiento</a></li>
            <li><a class="categorias" href="#">Innovación</a></li>
            <li><a class="categorias" href="#">Desarrollo Social</a></li>
            <li><a class="categorias" href="#">Educación</a></li>
            <li><a class="categorias" href="#">Juventudes</a></li>
            <li><a class="categorias" href="#">Salud</a></li>
            <li><a class="categorias" href="#">Desarrollo Urbano</a></li>
          </ul>
        </nav>

    </div>

    <div class="push"></div>

        <!-- VIEWS CONTENT ARE RENDERED HERE -->
    <%= yield %>

    <div class="footer">
        <p>Derechos Reservados, 2018, Fundación para la Implementación, Diseño, Evaluación y Análisis de Políticas Públicas, Fundación IDEA, A.C.</p>
        <p>Leibnitz # 20, Piso 11, Colonia Anzures, Delegación Miguel Hidalgo, Ciudad de México, 11590</p>
        <p>Teléfono: +52(55)5208-1403</p>

        <!-- Next block is temporary -->
        <% if user_signed_in? %>
            Iniciaste sesión con la cuenta: <strong><%= current_user.email %></strong>.
            <%= link_to 'Modificar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
            <% if current_user.admin? %>
                Administrar usuarios |
            <% end %>
            <%= link_to "Terminar sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>

            <% else %>
                <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                <%= link_to "Iniciar sesión", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    </div>

  </body>
</html>
